<% content_for :body_class, "companies-background" %>

<div class="grid login">
  <h5 class="white-text">Iniciar sesión</h5>
  <div class="profile-content white">
    <%= render 'form', url: company_login_path, user_type: "company" %>
    <%= link_to t('Atrás'), :root, class: "waves-effect waves-light btn lighten-2 orange white-text" %>
  </div>
</div>
<p class="white-text">No tienes cuenta? <b><%= link_to 'Crear Compañía', new_company_path, class: "underline white-text" %></b></p>
