<%= render 'form', url: user_login_path, user_type: "user" %>
<br/>
<%= link_to t('Atras'), :root, class: "waves-effect waves-light btn orange white-text" %>
<br/>
<p>no tiene cuenta? <%= link_to 'Crear Usuario', new_user_path %></p>