<h5><%= @company.name %></h5>
<p>Buenas! Vi la posición que tienes disponible via YoungerJob</p>
<p>
  Mi nombre es <%= @user.full_name %>. Me gustaria aplicar por esta posición:
  <%= @post.title %>
</p>
<%= @body %>
<!-- <p> -->
  <!-- Atado esta mi curriculum, Gracias! -->
<!-- </p> -->