<% content_for :body_class, "matches-background" %>


<% if @posts.empty? %>
  <h5>No hay posiciones disponibles</h5>
<% else %>
  <h5>Trabajos Ideales</h5>
  <%= render partial: 'posts/posts', object: @posts %>
<% end %>

