<%= content_for(:body_class, "edit") %>
<div class="grid">
  <i class="large material-icons default-avatar" alt="edit">edit</i>
  <div class="profile-content white bottom-attached">
    <%= render 'form', company: @company %>

    <%= link_to 'Cancelar', @company, class: "btn-flat lighten-1 grey white-text" %>
    <p><%= link_to 'Borrar compañia', @company, method: :delete, 
                                             data: { confirm: 'Confirma que quiere borrar su cuenta?' }, 
                                             class: "btn-flat lighten-2 red white-text" %>
    </p>
  </div>
</div>
