<% content_for :body_class, "edit" %>
<div class="grid">
  <i class="large material-icons default-avatar" alt="edit">edit</i>
  <div class="profile-content white bottom-attached">
    <%= render 'form', company: @company %>
    <%= link_to t('Cancelar'), root_path, class: "btn-flat grey white-text waves-effect waves-light" %>
  </div>
</div>


