<h1>Younger Job</h1>


<div class="row">
  <%= link_to t('Iniciar Sesion'), user_login_path, class: "waves-effect waves-light btn" %>
</div> 


<div>
  <p>Compañia? <%= link_to t('Portal de la Empresa'), company_login_path %></p>
</div> 

