<% content_for :body_class, "users-background" %>
<div class="grid login">
  <div class="profile-content white">
    <div>
      <%= image_tag('yg_logo.jpg', size: "200x200") %>
    </div>
    <div class="section">
      <%= link_to t('Iniciar Sesión'), user_login_path, class: "waves-effect waves-light lighten-1 blue btn" %>
      <p><b>No tienes cuenta?</b></p> 
      <%= link_to t('Crear Usuario'), new_user_path, class: "waves-effect waves-light lighten-2 orange btn" %>
    </div>     
  </div>
</div>
<div>
  <p class="white-text"><b><%= link_to t('Portal de Empresa'), company_login_path, class: "white-text underline" %></b></p>
</div> 

