<% content_for :body_class, "all-posts-background" %>


<% if @posts.empty? %>
  <h5>No hay posiciones disponibles</h5>
<% else %>
  <h5>Todos los trabajos disponibles</h5>
  <%= render partial: 'posts', object: @posts %>
<% end %>

