<% content_for :body_class, "all-posts-background" %>


<% if @posts.empty? %>
  <h5 class="white-text">No hay mas posiciones disponibles</h5>
<% else %>
  <h5 class="white-text">Todos los trabajos disponibles</h5>
  <%= render partial: 'posts', object: @posts %>
<% end %>

