<%= content_for(:body_class, "edit") %>
<div class="grid">
  <i class="large material-icons default-avatar white-text" alt="edit">edit</i>
  <div class="profile-content white bottom-attached">
    <%= render 'form', post: @post %>
    <%= link_to 'Cancelar', company_post_path(@post.company, @post), class: "btn-flat lighten-1 grey white-text" %>
    <p>
      <%= link_to 'Borrar posición', [@post.company, @post], method: :delete, 
                                               data: { confirm: 'Confirma que quiere borrar esta posición?' }, 
                                               class: "btn-flat lighten-2 red white-text" %>
    </p>
  </div>
</div>

