
<% content_for :body_class, "posts-background" %>
<p id="notice"><%= notice %></p>

<h5>Posiciones</h5>

<%= link_to 'New Post', new_company_post_path(@company) %>
<%= render partial: 'posts', collection: @posts %>

