/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body {
   height: 100%;
 }

 .container {
   min-height: 100%;
   height: initial;
   width: 100%;
 }


.users-background .row, .matches-background .row, .companies-background .row, .edit .row {
  margin-bottom: 0;
  padding-bottom: 20px;
}

 .nav-items {
  display: flex;
  justify-content: space-around;
}

 .align-icon-with-text {
   display: inline-flex;
 }

 .collection {
   border: none;
 }

 .collection .collection-item {
   margin-bottom: 5px;
   border-radius: 10px;
 }
 
 input#administracion-de-empresas.checkbox::before {
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}

input[type="checkbox"].filled-in:checked+span:not(.lever)::after {
  border: 2px solid #42A5F5;
  background-color: #42A5F5;
}

input[type="checkbox"].filled-in:checked+span:not(.lever)::before {
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}

textarea.materialize-textarea {
  min-height: 8rem;
}

.grid {
  margin-top: 20px;
}

.edit {
  background-color: #42A5F5;
}