.users-background {
  background: linear-gradient(to top, rgb(252, 74, 26), rgb(247, 183, 51));
}

.matches-background {
  background: linear-gradient(to top, rgb(252, 74, 26), rgb(247, 183, 51));
}

.users-background, .matches-background, .companies-background .row {
  margin-bottom: 0;
  padding-bottom: 20px;
}

.users-background .flat-btn  {
  border-radius: 4px;
}


.user-avatar.circle {
 background: linear-gradient(to top, rgb(248,152,43), rgb(247,179,50));
 padding: 5px;
 margin-bottom: -95px;
}

.default-avatar {
  background: linear-gradient(to top, rgb(248,152,43), rgb(247,179,50));
  border-radius: 50%;
}

.companies-background .default-avatar {
  background: linear-gradient(to top, rgb(134,227,234), rgb(142,232,229));
  padding: 10px;
  border: 5px solid white;  
}

.profile-content.bottom-attached {
  margin-top: -45px;
}

.profile-content {
  padding-bottom: 20px !important;
  border-radius: 10px;
  margin-top: 20px;
}

.profile-content .top.section {
  padding-top: 7rem;
  padding-left: 20px;
  padding-right: 20px;
}

.profile-content .top.section.email {
  padding-top: 3rem;
}


.profile-content .light-padding {
  padding: 10px;
}

.profile-content .chips-container {
  padding-top: 5px;
  padding-bottom: 5px;
}


/* Edit User Form */
.edit-user.form, .profile-content form {
  padding: 10px;
}

.user-description {
  border-left: 5px solid #9e9e9e;
}